body {
    padding: 0;
    margin: 0;
    display: block; /* Layout padrão para mobile */
    width: 100%;
    min-height: 100vh;
    background-color: var(--Slate100);
    font-family: 'Plus Jakarta Medium', sans-serif;
}
  
h1, h2, h3, p{
    margin: 0;
}

img { 
    max-width: 100%;
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
}

.calculator-container {
    background-color: var(--White);
    width: 100%;
    min-height: 50vh;
}

.result-container {
    background-color: var(--Slate900);
    width: 100%;
    min-height: 50vh;
}

@media (min-width: 768px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        background-color: var(--White);
        border-radius: 26px 16px 26px 26px;    
    }

    .calculator-container {
        border-radius: 26px 0 26px 26px;
    }

    .result-container {
        border-radius: 0px 16px 16px 64px;
    }
    
}